.product {
  &--image {
    &-container {
      padding-bottom: 100%;
      position: relative;
      width: 100%;
      margin-bottom: 2rem;
    }
    
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  &--rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 2px;
  }
  
  &--stars {
    display: flex;
    flex-direction: row;
    margin-right: 6px;
    padding-bottom: 3.2px;

    svg {
      color: #FAC213;
      font-size: 16px !important;
    }
  }
}