.home-filter {
  &--container {
    padding: {
      top: 1rem;
      right: 1.5rem;
      left: 1.5rem;
      bottom: 2rem;
    }
    height: 100%;
  }

  &--buttons {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 0.5rem;
  }
}